.header-container {
  height: 60px;
  background-color: #f2f2e6;
  img{
    transition: all 0.5s ease;
  }
}

.header-shifted{
  height: 60px;
  background-color: #f2f2e6;
  img{
    opacity: 0;
    transition: all 0.5s ease;
  }
  }
