/* Container ของ Outbound */
.outbound-container {
  margin: 3rem 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Header แบบ Sticky */
.outbound-header {
  background-color: #ffffff;
  padding: 3px ;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.items-per-page-select {
  display: flex;
  align-items: center;
  gap: 3px; /* เว้นระยะห่างระหว่าง label และ select */
}

/* ไอคอนตะกร้า */
.cart-icon-container {
  position: relative;
  margin-left: 4px; /* ให้มีระยะห่างจากปุ่มรายการ */
}

/* ตำแหน่งของ Badge บนไอคอน */
.cart-icon-container .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 0.8rem;
  padding: 4px 6px;
  border-radius: 50%;
}

/* ปุ่มรายการ */
.item-list-button {
  margin-left: 50px;
  padding: 5px 15px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.item-list-button:hover {
  background-color: #0056b3;
}
/* Table Styling */
.outbound-table {
  width: 100%;
  border-collapse: collapse;
  
}
.outbound-table td {
  padding: 8px;
  border: 1px solid #dbdbdb;
  text-align: center;
}

.outbound-table th {
  padding: 10px;
  text-align: center;
  background-color: #f2f2e6;
  color: #060303;
  font-weight: bold;
  position: sticky; /* ทำให้ส่วนหัวของตารางติดค้าง */
  top: 0; /* ระยะห่างจากด้านบน */
  z-index: 10; /* เพื่อให้หัวตารางอยู่ด้านหน้า */
}

.outbound-table tr:nth-child(even) {
  background-color: #eeefeff5;
}
.outbound-table tr:hover {
  background-color: #e1e2e7;
}
/* ตัวเลือกจำนวนรายการ */
.items-per-page {
  display: flex;
  align-items: center;
  margin-right: 20px; /* เพิ่มระยะห่าง */
}
.items-per-page select {
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.category-label {
  margin-right: 8px;
  font-size: 1rem;
  color: #333;
}
.outbound-table-container {
  max-height: 550px;  /* กำหนดความสูงสูงสุดสำหรับ container ของตาราง */
  overflow-y: auto;   /* เปิดการเลื่อนในแนวตั้ง */
  margin-top: 20px;    /* เพิ่มระยะห่างจากด้านบน */
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* กำหนดระยะห่างระหว่างปุ่ม */
  margin-top: 20px; /* ระยะห่างจากตาราง */
}
.quantity-controls button {
  margin:  5px;
}
.search-input {
  width: 200px; /* ความกว้างที่เล็กลง */
  height: 35px; /* ความสูงของช่อง */
  font-size: 14px; /* ขนาดตัวอักษร */
  margin-right: 10px; /* ระยะห่างด้านขวา */
  border-radius: 5px; /* มุมโค้ง */
  border: 1px solid #ccc; /* สีของเส้นขอบ */
  padding: 5px; /* ระยะห่างภายใน */
}


.search-cart-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.items-per-page-select {
  margin-right: auto; /* ผลักไปทางซ้าย */
}
.cart-icon-container {
  display: flex;
  align-items: center;
}


