/* กำหนดความกว้างของแต่ละคอลัมน์ */
.table .col-id {
  width: 10%;
}

.table .col-date {
  width: 15%;
}

.table .col-item {
  width: 25%;
}

.table .col-qty {
  width: 10%;
}

.table .col-approver {
  width: 15%;
}

.table .col-status {
  width: 10%;
}

.table .col-action {
  width: 15%;
}

/* ทำให้ตารางเป็น responsive */
.table-responsive {
  overflow-x: auto;
  height: 600px;
  overflow-y: auto; 
}
.data-history-container{
  margin: 3rem 5rem;
  padding: 1rem;

  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .table .col-qty,
  .table .col-approver,
  .table .col-status {
    display: none;
  }
}

.pagination .page-link {
  cursor: pointer;
}

.data-history-menu-bar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  align-items: center;

  .data-history-menu-bar-page-items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
  }
  .page-items-label{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 0.5rem;
  }
  .data-history-menu-bar-status{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    margin-right: 2rem;
  }
  .status-label{
    margin-right: 0.5rem;
  }
}
.data-history-menu-bar-search{
  width: 20rem;
}

